body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: darkcyan;
}

header {
    background-color: #007BFF;
    color: #fff;
    text-align: center;
    padding: 20px;
}

section {
    margin: 20px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.column {
    display: flex;
    flex-direction: column;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    font-weight: bold;
    color: #007BFF;
}

input,
select {
    margin-bottom: 10px;
    padding: 5px;
}

button {
    background-color: #007BFF;
    color: #fff;
    padding: 10px;
    border: none;
    cursor: pointer;
}

    button:hover {
        background-color: #0056b3;
    }

ul {
    list-style: none;
}

li {
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ccc;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #007BFF;
    color: #fff;
}

.form-group {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}


    .form-group label {
        width: 200px;
        text-align: right;
        margin-right: 10px; /* Add 10px right margin */
    }
    .form-group input,
    .form-group select {
        flex: 1; /* Allow the input/select to expand to fill available space */
    }

.submit-button {
    display: block;
    margin: 0 auto; /* Center-align the submit button */
}

